<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadway Binder</title>
</head>
<body>
    <h1>Broadway Binder</h1>
    <form method="POST" action="/data">
        <input type="text" name="theater" placeholder="Theater">
        <input type="text" name="show" placeholder="Show">
        <button type="submit">Submit</button>
      </form>
</body>
</html>