<% layout('/layouts/boilerplate')%>






<div class="">
<div class=" py-24 sm:py-32 rounded-3xl">
    <div class="mx-auto grid max-w-6xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-2 flex justify-center items-center mx-30">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our <span class="text-blue-600">leadership</span></h2>
        <p class="mt-6 text-lg leading-8 text-gray-600 ">Odessa, TX native that spent the last 6 years in New York City working as a professional dancer. Most recently he was seen performing at The Winter Garden Theatre alongside Hugh Jackman and Sutton Foster in "The Music Man" on Broadway. Other credits include The Marvelous Mrs. Maisel on Amazon, Last Week Tonight with John Oliver on HBO, and numerous performances across the country at acclaimed regional theatres. On and off the stage Jordan strives to spread joy which he looks forward to continuing while building applications and websites that enables your digital dreams.</p></p>
      </div>
      <!-- <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li> -->
          <div class="flex items-center gap-x-6">
            <img class="h-100 w-100 rounded-full ml-10" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx6Zv8GSkhvb4xt-n9Nqo_p3XRyXEwEaxOCmC-EwtYRPMLh84TC40obmERzMCyY2pinGU&usqp=CAU" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Jordan Beall</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600"><span class="text-blue-600">Software Engineer</span></p>
            </div>
          </div>
        <!-- </li>
      </ul> -->
    </div>
  </div>

</div>